ds-rumors-serv-server.iml
*.classpath
*.project
*.settings/
*target/
*.iml
*.class
*.log*
.DS_Store
/build
/.idea/
dependency-reduced-pom.xml
hs_err_pid*
*library/
*classifiers/
*data/
/lib
/logs
*.cache
*.cache-tests
*.cache-tests
*.iml

